/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

 p {
   line-height: 2rem;
 }
 
 .button-collapse {
   color: #26a69a;
 }

 .icon-block {
   padding: 0 15px;
 }
 
 .Josephin{
   font-family: 'Josefin Slab', serif;
 }
 
 .Jura{
   font-family: 'Jura';
 }
 
 @font-face {
 font-family: stRyde;
 src: url("../font/StRyde-Regular.otf") format("opentype");
 }
 
 .stRyde{
   font-family: 'stRyde'; 
 }

 .timefield {
   margin-top: 20%;
   margin-right: 10%;
 }
