/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

 p {
   line-height: 2rem;
 }
 
 .button-collapse {
   color: #26a69a;
 }

 .icon-block {
   padding: 0 15px;
 }
 
 .Josephin{
   font-family: 'Josefin Slab', serif;
 }
 
 .Jura{
   font-family: 'Jura';
 }
 
 @font-face {
 font-family: stRyde;
 src: url("../font/StRyde-Regular.otf") format("opentype");
 }
 
 .stRyde{
   font-family: 'stRyde'; 
 }

 .tabs .tab a{
   color:#795548;
 } /*Black color to the text*/

 .tabs .tab a:hover {
   background-color: #ffff;
   color:#000;
 } /*Text color on hover*/

 .tabs .tab a.active {
   background-color: #ffff;
   color:#000;
 } /*Background and text color when a tab is active*/

 .tabs .indicator {
   background-color:#795548;
 } /*Color of underline*/

 .tabs .tab a:focus, .tabs .tab a:focus.active {
   background-color: #ffff;
 }
